@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif, 'Poppins';

}

:root {
    --color-font: #959595;
    --color-black: #2a2a2a;
    --color-border: #E0E0E0;
    --color-bg: #8EC5FC;
    --color-linear: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    --color-error: red;
}

.wrapper {
    display: flex;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--color-bg);
    background-image: var(--color-linear);
}

.content {
    background-color: white;
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display: flex;

}

.content-left, .content-right {
    flex: 0 0 50%;
    max-width: 50%;
}



.logo {
    display: flex;
    margin: 20px 0 50px 20px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo span {
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}

.content-form {
    margin-left: 150px;
    width: 400px;
    height: 500px;
}

.title h1 {
    font-size: 40px;
}

.title span {
    color: var(--color-font);
}

.title {
    margin-bottom: 20px;
}


.signin-form input {
    display: flex;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 5px;
    margin: 10px 0 10px 0;

}

.contact-form span {
    font-size: 14px;
    font-weight: bold;
}

.checkbox {
    display: flex;
    margin: 20px 0 20px 0;
}

.checkbox span {

    font-weight: 200;
    font-size: 15px;
}

.checkbox input {
    margin-right: 5px;
}

.checkbox a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 15px;
    margin-left: 40px;
    font-weight: bold;
}

button {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: bold;
}

.btn-login {
    border: none;
    background-color: var(--color-black);
    color: white;
    margin-bottom: 10px;
}

.btn-google {
    border: solid 1px var(--color-font);
    background-color: white;
    color: var(--color-black);
    display: block;
    width: 300px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    border-radius: 5px;
    
}

.btn-google i {
    margin-right: 5px;
}

.signin-link {
    padding-left: 30px;
}

.signin-link span {
    font-weight: 200;
}

.signin-link a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: bold;
}

.content-right {
    padding: 10px;

}

.content-right img {
    width: 100%;
    height: 100%;
    border-radius: 35px;
}


.contact-form .error span{
    color: var(--color-error);
    margin :2px;
}